# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/build/
terraform/*.tfplan
terraform/crash.log
terraform/*.tfvars
terraform/*.tfvars.json

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db
